---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/693/snippet
    method: GET
  response:
    body: '[{"priority": "100","version": "15","dynamic": "0","name": "set_bresp_do_stream","content": "set beresp.do_stream = true;","deleted_at": null,"service_id": "7i6HN3TK9wS159v2gPAZ8A","created_at": "2017-12-08T16:35:58Z","updated_at": "2017-12-08T16:35:58Z","id": "6mDv4fhHAjVpHzmYhx3wBV","type": "fetch"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200

